.cartItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardsProducts {
  text-align: center;
  border: solid 4px black;
  padding: 10px;
  min-width: 250px;
  max-width: 250px;
}

.imgProducts {
  max-height: 180px;
  min-height: 180px;
}
@media (max-width: 900px) {
  .cardsProducts {
    max-height: 300px;
    min-width: 150px;
  }

  h2,
  h3,
  h4 {
    font-size: 80%;
    text-align: center;
  }
  .imgProducts {
    min-height: 100px;
    max-height: 50px;
  }
}

@media (min-width: 600px) {
  .cardsProducts {
    max-height: 400px;
    min-width: 250px;
  }
  .imgProducts {
    min-height: 150px;
    max-height: 100px;
  }
}

.cartInfo {
  background-color: #ffc500;
  text-align: center;
  margin: 50px;
  align-content: center;
  padding: 10px;
}

.btnRemove {
  border-radius: 10px;
  border: 2px solid #7f0909;
  padding: 8px;
  margin-top: 10px;
  text-align: center;
  background-color: #ffc500;
  color: #7f0909;
}

.btnRemove:hover {
  background-color: #7f0909;
  color: #ffc500;
}

.btnCompra {
  border-radius: 10px;
  border: 2px solid #7f0909;
  padding: 8px;
  margin-top: 10px;
  text-align: center;
  background-color: #7f0909;
  color: #ffc500;
  margin: 10px;
}

.btnCompra:hover {
  background-color: #ffc500;
  color: #7f0909;
}

.btnCarrito {
  border-radius: 10px;
  border: 2px solid #7f0909;
  padding: 10px 10px;
  text-align: center;
  background-color: #ffc500;
  color: #7f0909;
  margin: 5px;
  text-decoration: none;
}

.btnCarrito:hover {
  background-color: #7f0909;
  color: #ffc500;
}
