* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* @font-face {
  font-family: "Harry P";
  src: url(https://www.dafont.com/harry-p.font);
} */

.categorias {
  color: #ffc500;
  margin: 0 20px;
  text-align: center;
  justify-content: flex-end;
}

.categorias a {
  color: #ffc500;
  margin: 0 20px;
  text-align: center;
  justify-content: flex-end;
  text-decoration: none;
}

.categorias a:hover {
  color: #ffc500;
  margin: 0 20px;
  text-align: center;
  justify-content: flex-end;
  text-decoration: none;
  border-bottom: #ffc500 solid 2px;
}

.links {
  color: #ffc500;
  text-decoration: none;
  margin: 0 20px;
  text-align: center;
}
.links:hover {
  color: #ffc500;
  border-top: #ffc500 solid 2px;
}

.logo {
  color: #ffc500;
  flex-grow: 1;
  font-family: "Harry P";
  font-size: 70px;
  text-decoration: none;
}
