.cards-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cards {
  padding: 10px;
  justify-content: center;
  border: 3px solid black;
  margin: 10px;
}

.titleImg {
  height: 65px;
}
@media (max-width: 900px) {
  .cards {
    max-height: 320px;
    max-width: 200px;
  }
  .cardsImg {
    max-height: 30px;
  }
  .titleImg {
    height: 20px;
  }
}
